[submodule "fmt"]
	path = subprojects/fmt
	url = https://github.com/fmtlib/fmt
[submodule "capnproto"]
	path = subprojects/capnproto
	url = https://github.com/capnproto/capnproto.git
[submodule "raw"]
	path = raw
	url = git@github.com:lacker/raw.git
